# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Conan
conaninfo.txt
conanbuildinfo.txt
conanfile.pyc
graph_info.json

# Build
build/
dist/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
